


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/207585c7cf.js" crossorigin="anonymous"></script>
    <base href="/">
    <link rel="stylesheet" href="/css/style.css">

    

</head>
<body class="container-fluid body">
    
    <div class="container-fluid lib" style="height: 60vh; ">
        <div class="row " style="color: white;">
            <div class="col-md-1 mt-4 col-sm-1">
                <i class="material-icons" style="font-size: 70px;">auto_stories</i>
            </div>
            <div class="col-md-11 col-sm-11 mt-4 py-0">
                <h1 class="font-weight-bold " style="font-size: 60px;">Library</h1>
            </div>    
        </div>
    </div>
    
        <div class="container bg-light b1">
            
                <div class="jumbotron b1 ">
                    <form class="ml-5" action="/user/register" method="get" enctype="multipart/form-data"> 
                        <table class="table">
                            <tr>
                                <td>
                                    Name:
                                </td>
                                <td>
                                    <input type="text" name="name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    email
                                </td>
                                <td>
                                    <input type="email" name="email">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    username
                                </td>
                                <td>
                                    <input type="text" name="username">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    password
                                </td>
                                <td>
                                    <input type="password" name="password">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    age
                                </td>
                                <td>
                                    <input type="text" name="age">
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-primary">
                                </td>
                                
                            </tr>
                        </table>
                    </form>
                    
            
                
                
                 
            </div>
            
            <div class="row last-row">
                <div class="col-12">
                    <a class="btn btn-primary" href="">more <i class="far fa-hand-point-down"></i></a>
                </div>
            </div>                           
        </div>
    <footer class="containet-fluid mt-5 p-4">
        <div class="container">
            <h4><strong>follow us</strong></h4>
            <button class="btn btn-success"><i class="fab fa-twitter"></i> twitter</button>
            <button class="btn btn-primary"><i class="fab fa-facebook"></i> facebook</button>
            <button class="btn btn-danger"><i class="fab fa-google-plus-g"></i> Google+</button>
        </div>
        
    </footer>
</body>
</html>
























